[submodule "module-base"]
	path = module-base
	url = https://Playrom@github.com/Playrom/demo-action-base.git
[submodule "demo-action-child"]
	path = demo-action-child
	url = https://Playrom@github.com/Playrom/demo-action-child.git
