[submodule "module-base"]
	path = module-base
	url = git@github.com:giorgio-romano_amplifon/demo-action-base.git
[submodule "module-child"]
	path = module-child
	url = git@github.com:giorgio-romano_amplifon/demo-action-child.git
